<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="longdbEntities" connectionString="metadata=res://*/LongDBNESP.csdl|res://*/LongDBNESP.ssdl|res://*/LongDBNESP.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.100;User Id=nesp_dev;password=123456;Persist Security Info=True;database=nesp_longdb;&quot;" providerName="System.Data.EntityClient" />
    <add name="zaimudbEntities" connectionString="metadata=res://*/ZaimuDBNESP.csdl|res://*/ZaimuDBNESP.ssdl|res://*/ZaimuDBNESP.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=123456;Persist Security Info=True;database=zaimudb;&quot;" providerName="System.Data.EntityClient" />
    <add name="localDBEntities" connectionString="metadata=res://*/LocalDBNESP.csdl|res://*/LocalDBNESP.ssdl|res://*/LocalDBNESP.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.100;User Id=nesp_dev;password=123456;Persist Security Info=True;database=nesp_dev&quot;" providerName="System.Data.EntityClient" />
    <add name="nesp_zaimudbEntities" connectionString="metadata=res://*/localZaimudb.csdl|res://*/localZaimudb.ssdl|res://*/localZaimudb.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.100;User Id=nesp_dev;password=123456;Persist Security Info=True;database=nesp_zaimudb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Resources Name-->
    <add key="ResourceName" value="NESP.Win.nesp" />
    <!--Application name_log folder name -->
    <add key="AppName" value="KaishakanriNesp" />
    <!--Root of log folder path-->
    <add key="AppLogFolder" value="C:\Log" />
    <!--Log level be exported-->
    <add key="LogLevel" value="4" />
    <add key="resUiText" value="NESP.Win.nesp" />
    <add key="AppName" value="KaishakanriNesp" />
    <add key="AppLogFolder" value="C:\Log" />
    <add key="LogLevel" value="4" />
    <!--Config of database LongDB-->
    <add key="NespLongDbHost" value="211.9.47.167" />
    <add key="NespLongDbUser" value="PYPZdkWLhBHrATa03vF38A==" />
    <add key="NespLongDbPwd" value="PYPZdkWLhBFOI68neJI/fQ==" />
    <add key="NespLongDbName" value="QLhbKGLYkcw=" />
    <add key="NespLongDbRes" value="res://*/NespLongDB.csdl|res://*/NespLongDB.ssdl|res://*/NespLongDB.msl" />
    <!--<add key="NespLongDbHost" value="192.168.1.100" />
    <add key="NespLongDbUser" value="ieu87fQGh9jrATa03vF38A==" />
    <add key="NespLongDbPwd" value="s+Atk+jpuiQ=" />
    <add key="NespLongDbName" value="+HbQ7+V3wNhUWKflvgVBWw==" />
    <add key="NespLongDbRes" value="res://*/NespLongDB.csdl|res://*/NespLongDB.ssdl|res://*/NespLongDB.msl" />-->
    <!--Config of database NespDB-->
    <add key="NespDbHost" value="169.254.253.241" />
    <add key="NespDbUser" value="ieu87fQGh9jrATa03vF38A==" />
    <add key="NespDbPwd" value="s+Atk+jpuiQ=" />
    <add key="NespDbName" value="ieu87fQGh9jrATa03vF38A==" />
    <add key="NespDbRes" value="res://*/NespDB.csdl|res://*/NespDB.ssdl|res://*/NespDB.msl" />
    <!--Config of database ZaimuDB-->
    <add key="NespZaimuDbHost" value="202.218.236.161" />
    <add key="NespZaimuDbUser" value="AF3FZVwcZCTKmDJhbQJigQ==" />
    <add key="NespZaimuDbPwd" value="AF3FZVwcZCRw587UnNa3YEegLE5c5q7H" />
    <add key="NespZaimuDbName" value="JKKwsYZ0OUI=" />
    <add key="NespZaimuDbRes" value="res://*/NespZaimuDB.csdl|res://*/NespZaimuDB.ssdl|res://*/NespZaimuDB.msl" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>